In [1]:
import pandas as pd
import sqlalchemy
db = sqlalchemy.create_engine('sqlite:///stroke_analysis.sqlite3')

In [2]:
df = pd.read_csv('Resources/Stroke_analysis Cleaned2.csv')

In [3]:
df

,pid,age,gender,severity_level,severity_desc,nhiss,mrs,systolic,distolic,glucose,paralysis,smoking,bmi,cholestrol,tos,risk
0,PID4233018,75,Female,1,Mild,4,1,140,89,190,1,1,25,205,1,1
1,PID4940637,68,Female,1,Mild,1,1,133,116,174,1,0,35,206,1,1
2,PID4903303,88,Male,1,Mild,1,1,124,118,79,2,0,35,239,1,1
3,PID8193257,58,Male,1,Mild,4,0,126,105,198,0,0,25,222,1,1
4,PID2868634,50,Female,1,Mild,3,2,140,106,87,0,0,39,222,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4545,PID11726,67,Male,2,Moderately Severe,13,6,180,83,198,1,2,39,219,3,2
4546,PID11727,67,Female,3,Severe,20,3,180,88,188,0,2,22,187,1,2
4547,PID11728,65,Male,2,Moderately Severe,6,4,126,111,227,0,3,23,233,3,2
4548,PID11729,64,Male,3,Severe,19,5,126,82,262,2,2,28,244,1,2
4549,PID11730,65,Male,2,Moderately Severe,5,1,169,115,263,0,3,27,231,3,2

In [4]:
stroke_df = df.drop(columns=["severity_desc"])

In [5]:
gender_dict = {'Male': 0, 'Female': 1}
stroke_df = stroke_df.replace({'gender': gender_dict})

In [6]:
stroke_df

,pid,age,gender,severity_level,nhiss,mrs,systolic,distolic,glucose,paralysis,smoking,bmi,cholestrol,tos,risk
0,PID4233018,75,1,1,4,1,140,89,190,1,1,25,205,1,1
1,PID4940637,68,1,1,1,1,133,116,174,1,0,35,206,1,1
2,PID4903303,88,0,1,1,1,124,118,79,2,0,35,239,1,1
3,PID8193257,58,0,1,4,0,126,105,198,0,0,25,222,1,1
4,PID2868634,50,1,1,3,2,140,106,87,0,0,39,222,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4545,PID11726,67,0,2,13,6,180,83,198,1,2,39,219,3,2
4546,PID11727,67,1,3,20,3,180,88,188,0,2,22,187,1,2
4547,PID11728,65,0,2,6,4,126,111,227,0,3,23,233,3,2
4548,PID11729,64,0,3,19,5,126,82,262,2,2,28,244,1,2
4549,PID11730,65,0,2,5,1,169,115,263,0,3,27,231,3,2

In [7]:
stroke_df.to_sql('stroke_analysis', db, if_exists="replace")

4550